@font-face {
  font-family: 'TinkoffSans';
  src: url('../fonts/TinkoffSans_Bold.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --default-text-color: #3D3D3D;
  --secondary-text-color: #F5F5F5;
  --label-color: #7A7A7A;
  --placeholder-color: #CCCCCC;
  --border-color: #292929;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  align-items: flex-start;
  font-family: 'Inter', sans-serif;
  max-width: 1200px;
}

.page-title {
  color: var(--default-text-color);
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 12px;
}

.input {
  color: var(--default-text-color);
  max-width: 1200px;
  padding: 16px;
  border: 2px solid var(--border-color);
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
}

.input::placeholder {
  color: var(--placeholder-color);
}

.input:hover {
  border-bottom-width: 4px;
  padding-bottom: 14px;
}

.input:focus {
  outline: none;
  border-width: 3px;
  padding-bottom: 14px;
}

.text-input {
  width: 100%;
}

.options {
  display: flex;
  gap: 25px;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}

.background-buttons {
  display: flex;
}

.button-wrapper {
  display: flex;
  gap: 20px;
}

.button {
  background-color: transparent;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  padding: 11px 21px;
  border: 2px solid var(--border-color);
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button:hover,
.button_selected {
  background-color: var(--border-color);
  color: var(--secondary-text-color);
}

.button svg {
  fill: #000000;
  transition: all 0.3s;
}

.button:hover svg {
  fill: #FFFFFF;
}

.button_background {
  text-wrap: nowrap;
  padding: 18px 24px;
}

.button_background:not(:first-child) {
  border-left: none;
}

.label {
  font-size: 16px;
  font-weight: 500;
  color: var(--label-color);
}

.select {
  transition: none;
  position: relative;
  cursor: pointer;
  min-width: 25%;
}

.select::after {
  content: url("../img/icons/Arrow-down.svg");
  position: absolute;
  top: 18px;
  right: 10px;
}

.select_active::after {
  top: 14px;
}

.wrapper {
  background-color: #000000;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper_1200 {
  width: 1200px;
  height: 630px;
  padding: 90px;
}

.wrapper_1074 {
  width: 1074px;
  height: 480px;
  padding: 70px 0 80px 80px;
}

.label-wrapper {
  display: flex;
  align-items: flex-start;
}

.wrapper_1200 .label-wrapper {
  gap: 47px;
}

.wrapper_1074 .label-wrapper {
  gap: 48px;
}

.wrapper_1200 .logo {
  width: 174px;
  height: 50px;
}

.wrapper_1074 .logo {
  width: 124px;
  height: 35px;
}

.wrapper_1200 .category-label {
  height: 50px;
}

.wrapper_1074 .category-label {
  height: 40px;
}

.title {
  color: #FFFFFF;
  font-weight: 700;
  font-family: 'TinkoffSans';
  line-height: 1;
  outline: transparent;
}

.wrapper_1200 .title {
  font-size: 70px;
  width: 1020px;
  letter-spacing: -0.5px;
}

.wrapper_1074 .title {
  font-size: 55px;
  width: 914px;
}

.footer {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 24px 30px;
  color: var(--label-color);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.footer__link {
  color: var(--label-color);
  text-underline-offset: 7px;
}